@model Schronisko.Models.Wolontariusz

@{
    ViewData["Title"] = "Create";
}

<h1>Wolontariusz</h1>

<h4>@ViewBag.Message</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imie" class="control-label"></label>
                <input asp-for="Imie" class="form-control" />
                <span asp-validation-for="Imie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nazwisko" class="control-label"></label>
                <input asp-for="Nazwisko" class="form-control" />
                <span asp-validation-for="Nazwisko" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DataUrodzenia" class="control-label"></label>
                <input asp-for="DataUrodzenia" class="form-control" type="date" />
                <span asp-validation-for="DataUrodzenia" class="text-danger"></span>
            </div>
            
            <!--<div class="form-group">
                <label asp-for="DataUrodzenia" class="control-label"></label>
                <input asp-for="DataUrodzenia" class="form-control" />
                <span asp-validation-for="DataUrodzenia" class="text-danger"></span>
            </div>
            -->
            <div class="form-group">
                <label asp-for="Telefon" class="control-label"></label>
                <input asp-for="Telefon" class="form-control" />
                <span asp-validation-for="Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Miasto" /> @Html.DisplayNameFor(model => model.Miasto)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Doswiadczenie" /> @Html.DisplayNameFor(model => model.Doswiadczenie)
                </label>
            </div>
            @{
                var dniTygodnia= new List<string> { "Poniedziałek", "Wtorek", "Środa", "Czwartek", "Piątek", "Sobota", "Niedziela" };
            }
            <div class="form-group">
                <label class="control-label">Wybierz dyspozycyjność: </label>
                @foreach (var dzien in dniTygodnia)
                {
                    <div class="form-check">
                        <input type="checkbox" name="Dyspozycyjnosc" class="form-check-input" value="@dzien" />
                        <label class="form-check-label">@dzien</label>
                    </div>
                }
            </div>
            <!--
            <div class="form-group">
                <label class="control-label">Wybierz dyspozycyjność:</label>
                <div class="form-check">
                    <input type="checkbox" name="Dyspozycyjnosc" class="form-check-input" value="Poniedziałek" />
                    <label class="form-check-label">Poniedziałek</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="Dyspozycyjnosc" class="form-check-input" value="Wtorek" />
                    <label class="form-check-label">Wtorek</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="Dyspozycyjnosc" class="form-check-input" value="Środa" />
                    <label class="form-check-label">Środa</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="Dyspozycyjnosc" class="form-check-input" value="Czwartek" />
                    <label class="form-check-label">Czwartek</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="Dyspozycyjnosc" class="form-check-input" value="Piątek" />
                    <label class="form-check-label">Piątek</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="Dyspozycyjnosc" class="form-check-input" value="Sobota" />
                    <label class="form-check-label">Sobota</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="Dyspozycyjnosc" class="form-check-input" value="Niedziela" />
                    <label class="form-check-label">Niedziela</label>
                </div>
                <span asp-validation-for="Dyspozycyjnosc" class="text-danger"></span>
            </div>
            -->
           <!--<div class="form-group form-check">
                <label asp-for="Dyspozycyjnosc" class="control-label"></label>
                <select asp-for="Dyspozycyjnosc" class="form-control">
                    <option value="">Wybierz </option>
                    <option value="Monday">Poniedziałek</option>
                    <option value="Tuseday">Wtorek</option>
                    <option value="Wednsday">Środa</option>
                </select>
                <span asp-validation-for="Dyspozycyjnosc" class="text-danger"></span>
            </div>
            -->

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
